li a:link {
  text-decoration: none;
}

pre {
  margin: 0.15rem;
  width: 90%;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  font-size: 0.7rem;
  padding: 0.1rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}
