
li a:link {
  text-decoration: none;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  font-size: 0.7rem;
}

.table-title {
  background: #999;
  flex-grow: 0;
  padding: .1rem 0 .1rem 1.15rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}
